.about-section {
    width: 100vw;
    height: 100vh;
}

.section-title {
    text-align: center;
    font-size: 50px;
    padding: 3rem 0;

    color: var(--dpurple);
    font-weight: bold;
}

.terminal {
    height: 500px;
    width: 800px;
    margin: 0 auto;
    font-family: 'Fira Mono', monospace;
}

.terminal-header {
    background: #9c9c9c;
    height: 25px;
    border-radius: 8px 8px 0 0;
    display: inline-block;
    width: 100%;
    align-items: center;

}

.terminal-buttons {
    display: flex;
    flex-direction: row;
}

.circle {
    width: 12px;
    height: 12px;
    border-radius: 10px;
    margin: 5px 2px 0 5px;
    display: inline-block;

}

.circle.red {
    background-color: #F5544D;
}

.circle.yellow {
    background-color: #FABD2F;
}

.circle.green {
    background-color: #47D043;
}

.terminal-body {
    width: inherit;
    height: inherit;

    color: var(--sblue);
    background-color: #17202f;
    overflow-y: auto;
    font-size: 15px;
}

.fa-ad-wrapper.tech {
    margin-top: 4rem;
}