@import url("reset.css");
@import url("fonts.css");
@import url("navbar.css");
@import url("home.css");
@import url("about.css");
@import url("tech.css");
@import url("projects.css");
@import url("contact.css");

:root {
    --purple: #6b63ff;
    --dpurple: #584ccc;
    --sblue: #9CEAF3;
    --wpink: #ff8ffd;
}

html,
body {
    font-family: "Source Sans Pro", sans-serif;
    scroll-behavior: smooth;
    background-color: #f5f5f5;
}

textarea,
input {
    resize: none;
    font-family: inherit;
    font-size: inherit;
    border: 1.5px solid;
}

input::placeholder,
textarea::placeholder {
    font-weight: bold;
    padding-left: 2px;
}


a {
    color: inherit;
}

.angle-down {
    width: 25px;
    height: auto;
    transition: 0.4s ease-in-out;
}

.angle-down:hover {
    /* color: var(--dpurple); */
    transition: all 0.4s ease-in-out;
    transform: translateY(30%);
}

.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}

body.night {
    background-color: #292c35;
    color: white;
}

img.night {
    filter: invert(100%);
}