.designer-img {
    width: 50%;
    height: 50%;
}

.avatar-img {
    width: 50px;
    height: 50px;
    padding-bottom: 5px;
}

.navbar {
    display: flex;
    overflow: hidden;
    width: 75%;
    /* margin: 0 auto; */
    z-index: 1000;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    text-align: center;
    white-space: none;
    position: fixed;
    top: 0;
    padding: 0 15vw;
    transition: top 0.3s;
    background-color: #CCCDC6;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.avatar {
    display: flex;
}

.avatar>p {
    margin-top: 1.3rem;
    margin-left: 1rem;
    font-weight: bold;
}

li>a {
    text-decoration: none;
    color: black;
    transition: 0.4s all;
    display: inline-block;
    position: relative;
    font-weight: bold;

}

li>a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--dpurple);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

li>a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

li>a:hover {
    transition: 0.4s all;
    /* color: var(--dpurple); */
}

.nav-list {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

ul {
    list-style-type: none;
}

.nav-list>li {
    /* margin: 10px 30px; */
    font-size: 15px;
    line-height: 25px;
}

/* toggle button css */
.checkbox {
    opacity: 0;
    position: absolute;
}

.label {
    width: 2.0rem;
    height: 0.75rem;
    color: black;
    background-color: var(--purple);
    display: flex;
    border-radius: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    transform: scale(1.5);
}

.ball {
    width: 1.2rem;
    height: 1.2rem;
    background-color: white;
    position: absolute;
    top: 0.07rem;
    left: 0.05rem;
    border-radius: 50%;
    transition: transform 0.2s linear;
}

/*  target the elemenent after the label*/
.checkbox:checked+.label .ball {
    transform: translateX(110%);
}

.label>img {
    width: 0.8rem;
    height: auto;
}